# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid
simple_auth_manager_passwords.json.generated
logs/
standalone_admin_password.txt

# Data files (generated at runtime)
data/raw_weather.json
data/processed_weather.json
data/weather_results.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
